body {
    font-family: "Open Sans", sans-serif;
    color: #de0a0a;
}

section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(14, 20, 148, 0.61);
}

.section-title h2 {
    font-size: 48px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.section-title p {
    margin-bottom: 0;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.section-race {
    text-align: center;
    background-color: rgba(14, 20, 148, 0.61);
}

.section-race p {
    margin: 0;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
