body {
    font-family: "Open Sans", sans-serif;
    color: #de0a0a;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    background-color: rgba(14, 20, 148, 0.61);
}

.section-title h2 {
    font-size: 48px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.section-title p {
    margin-bottom: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
