body {
    font-family: "Open Sans", sans-serif;
    color: #230703;
    background-color: #000000; /* Black background */
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.search-box {
    margin-bottom: 20px;
    background-color: #333333; /* Dark gray background */
    padding: 10px;
    border-radius: 5px;
}

.search-box .form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    background-color: #444444; /* Slightly lighter dark gray background */
    color: #ffffff; /* White text */
}

.box {
    padding: 20px;
    background-color: #333333; /* Dark gray background */
    color: #ffffff; /* White text */
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box p
{
    font-size: 18px;
}

.box hr
{
    border: 1px solid #dee2e6;
}

.box h3
{
    font-size: 22px;
}
